<%= _.template(require('./../includes/head.html'))({}) %>
<section class="banner">
    <div class="banner__content">
        <img src="/img/banner1.png" class="banner__img"/>
        <div class="banner__disclaimer">
            <img src="/img/rings_wh.png" class="banner__disclaimer-rings"/>
            <h1 class="banner__disclaimer-text">Безупречные условия на покупку Audi</h1>
        </div>
        <button class="btn btn-white banner__btn">Получить спецпредложение</button>
    </div>
</section>
<section class="cars_in_stock">
    <div class="cars_in_stock__header">
        <h2 class="cars_in_stock__head">В салоне Audi Центр Выборгский:</h2>
    </div>
    <div class="cars_in_stock__bottom">
        <div>
            <img src="/img/car_search.png" class="cars_in_stock__img"/>
        </div>
        <div>
            <span class="cars_in_stock__count">36</span>
        </div>
        <div>
            <span class="cars_in_stock__text">автомобилей в наличии</span>
        </div>
    </div>
</section>
<%= _.template(require('./../includes/cars/special.html'))({}) %>
<section class="showcase">
    <div class="main__container">
        <div class="row">
            <div class="col-xl-10 showcase__head-left">
                <h3 class="showcase__head-header">Автомобили Audi в наличии</h3>
                <p class="showcase__head-text">Специальные условия покупки в кредит по ставке от 7%, программа
                    лояльности «Лига привилегий Audi», 4 года гарантии</p>
            </div>
            <div class="col-xl-2 showcase__head-right">
                <button class="btn btn-black">Заказать консультацию</button>
            </div>
        </div>
        <div class="showcase__model_in_stock">
            <ul class="showcase__models">
                <li class="showcase__model-item"><a href="#" class="active">Модельный ряд</a></li>
                <li class="showcase__model-item"><a href="#">A3</a></li>
                <li class="showcase__model-item"><a href="#">A4</a></li>
                <li class="showcase__model-item"><a href="#">A5</a></li>
                <li class="showcase__model-item"><a href="#">A6</a></li>
                <li class="showcase__model-item"><a href="#">A7</a></li>
                <li class="showcase__model-item"><a href="#">A8</a></li>
                <li class="showcase__model-item"><a href="#">Q5</a></li>
                <li class="showcase__model-item"><a href="#">Q7</a></li>
                <li class="showcase__model-item"><a href="#">Q8</a></li>
            </ul>
        </div>
        <div class="showcase_cars">
            <% [0,1,2,3,4,5,6,7,8].forEach(_=>{ %>
            <div class="showcase__item">
                <div class="item__head">
                    <div class="item__head-left">
                        <h4 class="item__head-header">Audi Q5</h4>
                        <span class="item__head-header-text">От 2 690 000 рублей</span>
                    </div>
                    <div class="item__head-right">
                        <div class="item__head_in_stock">3</div>
                        <span class="item__head_in_stock-text">а/м в наличии</span>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>
<%= _.template(require('./../includes/footer.html'))({}) %>
<%= _.template(require('./../includes/script.html'))({}) %>
</body>
</html>