/**
 * Миксин для витрины
 */
@mixin showcase__base{
  flex-basis: 30%;
  margin: 15px;
  padding: 22px 28px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  transition: box-shadow ease-in-out .5s;
  &:hover{
    box-shadow: 4px 6px 5px 3px rgba(0,0,0,0.75);
  }
  >div{
    margin-bottom: 10px;
  }
  .item__head-header{
    @include extnormal22;
    margin: 0 0 15px 0;
    strong{
      @include extbold22;
    }
  }
  .item__head-header-text{
    @include extbold16;
    color:$audi_red;
  }
  .item__image{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .showcase__item__list{
    list-style-image: url("/img/list.png");
    padding: 0;
    padding-left: 15px;
    li{
      @include normal16;
      line-height: 2;
      strong{
        @include extbold16;
      }
    }
  }
  .item__button{
    .button__finnal{
      width: 68%;
      padding: 20px 0;
    }
    .button__select{
      width: 30%;
    }
  }
  @include media-breakpoint-down($mobile_version){
    flex-basis: 100%;
    padding: 0;
    .item__head-header{
      font-size: 16px;
      strong{
        font-size: inherit;
      }
    }
    .item__head-header-text{
      font-size: 12px;
    }
    .showcase__item__list{
      margin-bottom: 0px;
      li{
        font-size: 12px;
        strong{
          font-size: inherit;
        }
      }
    }
    .item__button{
      .button__finnal{
        padding: 12px 0;
      }
    }
  }
}
