.special_block__carousel{
  .carousel__item{
    background-color: #fff;
  }
}
.special_block__carousel__description,.special_block__carousel__price{
  display: flex;
  flex-direction: column;
  padding: 43px;
}
.special_block__carousel__description{
  justify-content: space-between;
}
.special_block__carousel__price{
  justify-content: center;
}

.carousel__maker_name{
  @include extnormal22;
  strong{
    @include extbold22;
  }
}
.carousel__promo{
  @include normal16;
  .red{
    @include extbold18;
    color: $audi_red;
  }
}
.carousel__warranty{
  @include extbold18;
}
.carousel__del-price{
  @include extnormal16;
}
.carousel__price{
  color: $audi_red;
  @include extbold30;
  span{
    @include extbold22;
  }
}
.carousel__button{
  width: 80%;
}
.owl-counter{
  @include extnormal15;
  span{
    @include extnormal15;
    color:#737373;
  }
}
.special_block__carousel-counter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}
.icon-counter{
  display: block;
  width: 6px;
  height:13px;
  margin:0 10px;
  background: url("/img/arrow.png");
  cursor: pointer;
  margin-top: 2px;
  &.owl-next{
    transform: rotate(180deg);
  }
}
@media all and (max-width: 1650px){
  .special_block__carousel__description,.special_block__carousel__price{
    padding: 0px;
  }
}
@include media-breakpoint-down($mobile_version){
  .carousel__item{
    margin: 0px 5px;
  }
  div.special_block__carousel__description, div.special_block__carousel__price{
    padding: 0 10px;
  }
  .carousel__maker_name{
    font-size: 16px;
    strong{
      font-size: inherit;
    }
  }
  .carousel__promo{
    font-size: 12px;
    .red{
      font-size: 13px;
    }
  }
  .carousel__warranty{
    font-size: 13px;
  }
  .carousel__del-price{
    font-size: 12px;
  }
  .carousel__price{
    font-size: 21px;
    span{
      font-size: 16px;
    }
  }
  .carousel__button{
    display: block;
    margin: 0 auto 10px;
  }
  .special_block__carousel-counter{
    margin-top: 17px;
  }
  .owl-counter{
    font-size: 12px;
    span{
      font-size: inherit;
    }
  }
}