@mixin customNormal($size){
  font-family: AudiTNormal;
  font-size: $size+px;
}
@mixin customExtBold($size){
  font-family: AudiTEBold;
  font-size: $size+px;
}
@mixin customExtNormal($size){
  font-family: AudiTENormal;
  font-size: $size+px;
}
/**
  NORMAL
 */
@mixin normal12{
  @include customNormal(12);
}
@mixin normal16{
  @include customNormal(16);
}

@mixin normal15{
  @include customNormal(15);
}
@mixin normal21{
  @include customNormal(21);
}

@mixin extnormal30{
  @include customExtNormal(30);
}
/**
  BOLD
 */
@mixin extbold56{
  @include customExtBold(56);
}
@mixin extbold30{
  @include customExtBold(30);
}
@mixin extbold48{
  @include customExtBold(48);
}
@mixin extbold24{
  @include customExtBold(24);
}