@include font-face("AudiTEBold","../fonts/AudiTEBold/AudiType-ExtendedBold");
@include font-face("AudiTENormal","../fonts/AudiTENormal/AudiType-ExtendedNormal");
@include font-face("AudiTNormal","../fonts/AudiTNormal/AudiType-Normal");

a {
  text-decoration: none;
  color:#000;
  cursor: pointer;
  &:hover{
    color:$audi_red;
  }
}

.animated {
    -webkit-animation-duration: .6s;
    -o-animation-duration: .6s;
    -moz-animation-duration: .6s;
    animation-duration: 1.5s;

    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.main__container{
  padding: 0 50px;
}
.btn{
  @include normal15;
  cursor: pointer;
  border:none;
  background-color: #fff;
  padding: 20px 28px;
  transition: background-color ease-in .3s;
}

.btn-white{
  color:#010101;
  background-color: #ffffff;
  border:none;
  &:hover{
        color:#fff;
    background-color: #000;
  }
}
.btn-white-border{
  border:1px solid #000;
  padding: 18px 0;
}
.btn-black{
  background-color: #000;
  color: #fff;
  &:hover{
        color:#fff;
    background-color: #bb0a30;
  }
}

.none{
  display: none;
}
.tippy-popper{
  @include normal12;
}
.gray_block {
  background-color: $audi_second_gray;
}
.mobile{
  display: none;
}
.center{
  display: block;
  margin: 0 auto;
}
.w100{
  width:100%;
}
@media all and (max-width: 1400px) {

    .banner__disclaimer{
        top:20px;
        max-width:70%;
    }

    .banner__btn{
        top:180px;
    }

    .button__finnal,.button__select{
        font-size: 13px;
    }

    .btn {
        padding: 20px 9px;
    }

    .preference__image img{
        max-width: 100%;
    }
}

@include media-breakpoint-down($mobile_version){
  .mobile{
    display: initial;
  }
  .row, div[class^="col"]{
    padding: 0;
    margin: 0;
  }
  .main__container,.container{
    padding:0 5px;
  }
  .btn-mobile-black{
    background-color: #000;
    color: #fff;
  }
  .btn{
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

}
