@include font-face("AudiTEBold","../fonts/AudiTEBold/AudiType-ExtendedBold");
@include font-face("AudiTENormal","../fonts/AudiTENormal/AudiType-ExtendedNormal");
@include font-face("AudiTNormal","../fonts/AudiTNormal/AudiType-Normal");
.main__container{
  padding: 0 50px;
}
a{
  text-decoration: none;
  color:#000;
}
.btn{
  @include normal15;
  cursor: pointer;
}

.btn-white{
  color:#010101;
  background-color: #ffffff;
  border:none;
  padding: 20px 28px;
}
.none{
  display: none;
}